<launch>
    <!-- launch ROS ODrive control -->
    <include file="$(find odrive_ros)/launch/odrive.launch"/>

    <!-- launch the DualShock node-->
    <include file="$(find ds4_driver)/launch/ds4_driver.launch"/>

    <!-- launch the driving node for robot joystick control-->
    <include file="$(find ros_driving)/launch/driving.launch"/>

    <node
        pkg="odrv_monitor"
        type="odrv_monitor.py"
        name="odrv_monitor"
        required="true"
    />
</launch>


